<h1> <%= @user.username %> </h1>
<%= link_to 'Leave a review', new_user_review_path(@user) %>
<ul class="list-group">
  <% @user.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
  <% end %>
</ul>
<% if @user == current_user %>
  <%= link_to 'Your bookings', user_bookings_path(@user) %>
<% end %>
<%= link_to 'Book this walker now', new_user_booking_path(@user) %>
<%= link_to 'Back to walkers search', users_path %>