<h1> <%= @user.username %> </h1>
<%= link_to 'Leave a review', new_user_review_path(@user) %>
<ul class="list-group">
  <% @user.reviews.each do |review| %>
    <li class="list-group-item"><%= review.comment %></li>
  <% end %>
</ul>
<%= link_to 'Book this walker now', new_user_booking_path(@user) %>
<%= link_to 'Back to walkers search', users_path %>
<%# Map here for debugging purposes currently %>
<br /><div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
